.container{
  background-color: #A3564E;
}
.encabezado{
  min-height: 200px;
  background-color: white;

}
.img-fluid{
margin-top: 50px;
}

.nav-item {
text-align: center;
width: 100%;
}

.navbar-nav{
width: 100%;
}
