.container-fluid{
  background-color: #83190E ;
  margin-left: 8%;
  margin-right: 8%;
}

.navbar{
  min-height: 150px;
  margin-left: 8%;
  margin-right: 8%;
}
.column-wrapping{
  background: white;
  min-height: 300px;
  margin-left: 8%;
  margin-right: 8%;
}
@media (max-width: 768px) {
.container-fluid{
  width: 100vw;
   position: relative;
   left: 50%;
   right: 50%;
   margin-left: -50vw;
   margin-right: -50vw;
  }
  .navbar{
    min-height: 150px;
    width: 100vw;
   position: relative;
   left: 50%;
   right: 50%;
   margin-left: -50vw;
   margin-right: -50vw;
  }
  .column-wrapping{
    width: 100vw;
     position: relative;
     left: 50%;
     right: 50%;
     margin-left: -50vw;
     margin-right: -50vw;
    }



}
