.container-fluid{
  background-color: #A3564E;
}
.navbar {
  min-height: 200px;
  background-color: white;
  align-items: center;
}

.media{
  margin-top: 50px;
}

@media (max-width: 770px) {
  .media{
    width:100%;
  }
